// Override this file to add your own SCSS styling.
.hero-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 4rem !important;
    margin-top: 200;
    line-height: 4;
  }
  
  .hero-lead {
    max-width: 768px;
    font-size: 2rem !important;
  }